{% extends 'header.html' %}

{% block content %}
    
<div class="col-md-4 offset-md-4 text-center">
    <div class="card-body">
        <h1>Password</h1>
        <p id="pass">{{password}}</p>
        <button class="btn btn-primary" onclick="copyPassword()">Copy</button>
    </div>
    <p id="copyMessage" style="display: none;">Copied to clipboard!</p>
    <em>Refresh page to update password</em>
</div>

<script>
    function copyPassword() {
        var passwordElement = document.getElementById("pass");
        var tempInput = document.createElement("input");
        tempInput.value = passwordElement.innerText;
        document.body.appendChild(tempInput);
        tempInput.select();
        tempInput.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        var copyMessageElement = document.getElementById("copyMessage");
        copyMessageElement.style.display = "block"; // Muestra el mensaje de copiado
    }
</script>

{% endblock %}